{% extends 'plain.html' %}
{% block content %}
    <div class="container mt-4">
        <h2>History</h2>
    </div>
    <div class="bg-light container-fluid ">
        <br>
        <br>
        <div class="container">
            <div class="row">
                {% for img in images %}
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <img src="{{ img.path }}" class="card-img-top" alt="{{ label }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ img.predicted_label }}</h5>
                                <p class="card-text">ID: {{ img.id }}<br>path: public/{{ img.path }}</p>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        <br><br>
    </div>




{% endblock %}